* {
  box-sizing: border-box;
}

.App {
  padding: 30px;
  margin: 10px;
  font-family: sans-serif;
  text-align: center;
}

.Header {
  height: 150px;
  background: #338078;
  color: white;
}

.Content {
  display: flex;
  height: 600px;
}

.Contact {
  flex: 1;
  background: lightgrey;
  text-align: right;
  padding: 20px;
  padding-top: .5px;
}

.Experience {
  flex: 2;
  padding: 20px;
  padding-top: .5px;
  text-align: left;
}
